.main{
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 50vh;
  background: linear-gradient(360deg, rgb(49, 74, 44), rgb(255, 255, 255)); 
}

.main__title, .main_paragraph{
  width: min(90%, 1300px);
  margin: 0 auto;
}

.main__title{
  color: #40220f;
  padding: 60px 0 70px 0;
  font-size: 54px;
}

.main_paragraph{
  color: #40220f;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.main__paragraph_span{
  color: #3e7800;
}

.main__paragraph_bold{
  font-size: 24px;
  line-height: 45px;
}
